
.nick-size{
    font-size: 27px;
}

@media (min-width: 576px){
    .nick-size{
        font-size: 30px;
    }
}

@media (min-width: 768px){
    .nick-size{
        font-size: 31px;
    }
}

@media (min-width: 992px){
    .nick-size{
        font-size: 32px;
    }
}

@media (min-width: 1200px){
    .nick-size{
        font-size: 33px;
    }
}

@media (min-width: 1400px){
    .nick-size{
        font-size: 40px;
    }
}
