.bg-accordion-button{
    background-color: #0eaff9 !important;
}
.bg-accordion-button:hover{
    background-color: #42c2fe !important;
}

.bg-accordion-body{
    background-color: rgb(244, 234, 194) !important;
}
.del-avatar-btn{
    background-color: rgb(176, 140, 140) !important;
}

