
.nick-size{
    font-size: 5vw;
}

@media (min-width: 576px){
    .nick-size{
        font-size: 3.5vw;
    }
}

@media (min-width: 768px){
    .nick-size{
        font-size: 15px;
    }
}

@media (min-width: 992px){
    .nick-size{
        font-size: 25px;
    }
}

@media (min-width: 1200px){
    .nick-size{
        font-size: 35px;
    }
}

@media (min-width: 1400px){
    .nick-size{
        font-size: 45px;
    }
}
