.snake-game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#options-content {
    width: 80vmin;
    height: 0vmin;
    display: none;
    transition: height ease-in-out 0.5s;
}


.snake-speed-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}
