.snake-game-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#game-score {
    background: rgb(21, 19, 19);
    width: 80vmin;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.4vmin;
}
