::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0, 0, 0.1);
            box-shadow: inset 0 0 6px rgba(0,0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
                                            rgb(161, 223, 5) 0%,
                                            rgb(103, 176, 0) 50%,
                                            rgb(103, 176, 0) 51%,
                                            rgb(161, 223, 5) 100%);
}

::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-linear-gradient(top,
                                            rgb(137, 189, 6) 0%,
                                            rgb(91, 155, 1) 50%,
                                            rgb(91, 155, 1) 51%,
                                            rgb(137, 189, 6) 100%);
}

body{
    background-color: rgb(198, 234, 108) !important;
    background-image: url('/assets/images/background.jpg') !important;
}

label{
    font-weight: 700;
}



